.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
  padding: 20px;
}

.home__logo {
  display: flex;
}

.home__logo img {
  width: 60px;
  object-fit: contain;
  position: relative;
  bottom: 15px;
}

.home__logo h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.home__logo h2 span {
  color: #e94057;
}
